.product-list {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.product-item {
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: 200px;
}